@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'https://unpkg.com/leaflet@1.9.4/dist/leaflet.css';

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.leaflet-container {
  font-family: inherit;
}

.custom-truck-marker {
  background: transparent !important;
  border: none !important;
}
